body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2563eb;
    color: white;
    padding: 30px;
    text-alogn: ceter;
  }
  
  main{
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px □rgba(0,0,0,0.1)
  }
  
  footer {
    text-align: center;
    padding: 15px;
    background-color: #e5e7eb;
  }